/* Reset */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  font-family: sans-serif
}


input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 8px;
  width: 170px;
}




/* Layout */

.is-flex {
  display: flex;
}

#dashContainer {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr repeat(6, 2fr);
  grid-template-areas: "header"
                       "main  "
                       "main  "
                       "main  "
                       "main  "
                       "main  "
                       "main  "

}

.desktop, .middle {
  display: none;
  align-items: center;
}



#dashMain {
  grid-area: main;
  background: whitesmoke;
}



/* General */

body {
  font-size: 0.6rem;
}

.material-icons {
  font-size: 1.2rem;
  font-weight: 500;
}



/* Header */

#dashHeader {
  grid-area: header;
  background: lightgray;
  align-items: center;
  padding: 0 30px;
}

.avatarContainer {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.avatarContainer img {
  border-radius: 50%;
  width: 40px;
}

.notifIcon {
  margin-left: auto;
}

.headerButton {
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.menuIcon, .headerInput, .addButton, .notifIcon {
  margin-right: 10px;
}

.username {
    display: none;
}


/* Sidebar */

#dashSidebar {
  grid-area: sidebar;
  background: rgb(189, 192, 226);
  display: none;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}

#dashSidebar h3 {
  padding: 2rem 0;
}

#dashSidebar p {
  padding-left: 0.4rem;
}

#dashSidebar div {
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 0.1rem;
}





/* Queries */

@media (min-width: 600px) {
  body {
    font-size: 0.8rem;
  }
  #dashContainer {
    grid-template: 1fr repeat(5, 1.5fr) / auto repeat(4, 1fr);
    grid-template-areas: "sidebar header header header header"
                         "sidebar  main   main   main   main"
                         "sidebar  main   main   main   main"
                         "sidebar  main   main   main   main"
                         "sidebar  main   main   main   main"
                         "sidebar  main   main   main   main"
  }

  #dashSidebar {
    display: flex;
  }
  .mobile {
    display: none
  }
  .middle {
    display: flex;
  }
  .material-icons {
    font-size: 1.5rem;
  }
  .avatarContainer img {
    width: 50px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 1rem
  }
  #dashContainer {
    grid-template-columns: auto repeat(4, 1fr);
  }
  .middle {
    display: none
  }
  .desktop {
    display: flex;
  }
  .headerInput {
    width: 250px;
  }
  .avatarContainer {
    padding: 5px;
    justify-content: space-between;
    width: 150px;
    background-color: gray;
  }
  .username {
    text-align: center;
    display: block;
  }
}