/* Reset */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* Layout */

#dashContainer {
  min-height: 100vh;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  grid-template-areas: "sidebar header header header header"
                       "sidebar main   main   main   main"
                       "sidebar main   main   main   main"
                       "sidebar main   main   main   main"
                       "sidebar main   main   main   main"
                       "sidebar main   main   main   main";
}

#dashHeader {
  grid-area: header;
  background: red;
}
#dashSidebar {
  grid-area: sidebar;
  background: blue;
}
#dashMain {
  grid-area: main;
  background: green;
}